@charset "UTF-8";

// Google fonts "Noto Sans JP", "Atkinson Hyperlegible Mono"
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Noto+Sans+JP:wght@100..900&display=swap');

// 既定色
$bg_color: #f9fafb;
$default_color: #2d8efd;
$light_color: #4aa3f8;
$dark_color: rgba(45, 142, 253, 0.35);
$font_color: #111827;

$footer_height: 36px;
$default_font: "Noto Sans JP", sans-serif;
$mono_font: "Atkinson Hyperlegible Mono", monospace;

body {
	margin: 16px auto;

	background-color: $bg_color;
	font-family: $default_font;
	font-size: 0.93rem;
	color: $font_color;

	-webkit-font-smoothing: antialiased;
}

@media (min-width: 719.98px) {
	body {
		max-width: 720px;
	}
}

a {
	color: $default_color;
	text-decoration: none;
	cursor: pointer;

	&:hover {
		color: $light_color;
	}
}

h1 {
	margin-bottom: 8px;

	a {
		color: black;

		&:hover{
			color: black;
		}
	}
}

h2 {
	margin-bottom: 16px;
	font-size: 1.1rem;
	color: green;
}

h3 {
	font-size: 1.15rem;
}

h4 {
	&.pre-title {
		font-size: 0.88rem;
	}
}

footer {
	text-align: right;
	font-size: 0.67rem;
	border-top: 1px solid #eaeaea;
	background-color: $bg_color;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	color: #a5a5a5;

	width: 100%;
	height: $footer_height;
	margin: 0;
	padding: 8px .88%;

	position: fixed;
	bottom: 0;
	left: 0;

	p {
		i {
			margin-right: 6px;
		}
	}

	.disclaimer {
		color: #aaaacc;

		// 表示はしない
		p {
			display: none;
		}
	}

	ul.copy-links {
		list-style: none;

		& li {
			padding: 0 4px;

			&:not(:first-child) {
				border-left: 1px solid #a5a5a5;
			}

			a {
				text-decoration: none;
			}

			a:hover {
				color: #6585ff;
			}

			i {
				margin-right: 4px;
			}
		}
	}
}

/* iOS Safari限定フォールバック */
@supports (-webkit-backdrop-filter: none) {
	footer {
		-webkit-backdrop-filter: blur(4px);
		backdrop-filter: blur(4px);
	}

	.form-control {
		&:focus {
			box-shadow: 0 0 3px $dark_color;
		}
	}
}

#subheader {
	margin-bottom: 24px;

	p {
		font-size: 0.78rem;
		color: #878787;
	}
}

#content {
	padding-bottom: $footer_height + 16px !important;

	#guri2 {
		& #guri2-zone {
			border: 2px dashed #888;
			height: 200px;
			display: grid;

			place-items: center;
			user-select: none;
			-webkit-user-select: none;
		}

		& #guri2-progress-bar {
		}

		& #guri2-fill {
			width: 0;
		}

		& #guri2-status {
			margin-top: 6px;
			color: #555;
		}
	}

	#generate {
		#generate-fill {
			width: 0;
		}
	}
}

label {
	span.mono {
		font-size: 0.8rem;
		background: #eee;
		border-radius: 4px;
		font-family: $mono_font;
		margin-left: .5rem;
		padding: 2px 4px;
	}
}

pre {
	&.result-mono {
		background: #eee; padding: 1rem;
		font-family: $mono_font system-ui monospace;
		white-space: pre-wrap;
		word-break: break-all;
	}
}

.progress-bar {
	width: 100%;
	height: 10px;
	border-radius: 6px;
	background: #eee;
	overflow: hidden;
}

.progress-fill {
	height: 100%;
	background: #4caf50;
}

.btn{
&.show-toggle-passphrase {
	//background: transparent;
}
}